@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./images/dashback.jpg");
    font-family: "Poppins", sans-serif;
    background-size: cover;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1rem;
    padding: 1rem;

}

.sidebar{
    grid-column: span 1;
    grid-row: span 5;
    background-color: #3c4c51dc;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

#sidebar-head{
    font-size: 2rem;
    color: white;
    padding-bottom: 3.5rem;
}

.sidebar-items{
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column  ;
}
ul li{
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.heading{
    grid-column: span 3;
    grid-row: span 1;
    background-color: #4c5b61cc;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    align-items: center;
}
#head{
    font-size: 3rem;
    padding-left: 1rem;
    color: white;

}

.infocards{
    grid-column: span 3;
    grid-row: span 4;
    background-color: #45241c65;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: 1rem;
}

.infocards .card{
    background-color: #b55f49e8;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardhead{
    font-size: 1.6rem;
    padding-bottom: 2rem;
    color: white;
}

.carddetails{
    font-size: 1rem;
    color: white;
}